*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz 
*.pdf
*.csv
*.pgm
*.jpg
*.png
*.fdb_latexmk
*~
documents/graduate_thesis.synctex.gz
